html {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

main {
  margin: 7.75rem auto 0 auto;
  width: 26.125rem;
}

.cover-container, img.cover-hero {
  position: relative;
  top: 0;
  left: 0;
  height: 17.5rem;
  border-radius: 2rem;
}

img.cover-wave {
  position: relative;
  top: -4rem;
  left: 0;
}

.content-container {
  border-radius: 0 0 0.75rem 0.75rem;
  padding-bottom: 0.75rem;
}

.content-container > * {
  padding: 0 2rem;
}

h1.article-title {
  font-family: "Poppins", Verdana, sans-serif;
  font-size: 1.5rem;
  font-variant: bold;
}

.summary {
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #F2F5F9;
}

.summary p {
  margin-bottom: 0;
  font-size: 1rem;
  color: #4A5567;
}

div.author-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

img.author-avatar {
  border: 0.25rem solid #F2F5F9;
  border-radius: 50%;
}

div.author-info {
  display: flex;
  flex-direction: column;
  gap: 0;
}

div.author-info h1 {
  font-size: 1rem;
  margin-bottom: 0;
}

p.author-info {
  margin-top: 0;
  font-size: 1rem;
  color: #4A5567;
}